[user]
	name = Neil Vachharajani
	email = neil.vachharajani@lacework.net
	signingkey = 74B1FD4D6E9A7990

[init]
	defaultBranch = main

[diff]
	tool = vscode

[difftool]
    prompt = false

[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[difftool "intellij"]
    cmd = idea diff $(cd $(dirname \"$LOCAL\") && pwd)/$(basename \"$LOCAL\") $(cd $(dirname \"$REMOTE\") && pwd)/$(basename \"$REMOTE\")

[merge]
	tool = vscode

[mergetool "vscode"]
	cmd = code --wait $MERGED

[mergetool "intellij"]
    cmd = idea merge $(cd $(dirname \"$LOCAL\") && pwd)/$(basename \"$LOCAL\") $(cd $(dirname \"$REMOTE\") && pwd)/$(basename \"$REMOTE\") $(cd $(dirname \"$BASE\") && pwd)/$(basename \"$BASE\") $(cd $(dirname \"$MERGED\") && pwd)/$(basename \"$MERGED\")

[pager]
	branch = false

[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[core]
	pager = less -FRX
